<h3>Mes amis</h3>
<p>Cette option affiche la liste de tous vos amis, ainsi que les expositions qu'ils partagent avec vous.</p>
<p>Un utilisateur peut toujours vous envoyer &agrave; nouveau une demande de connexion, cela m&ecirc;me si vous aviez pr&eacute;c&eacute;demment refus&eacute; sa demande.</p>
