<h3>Largeur et hauteur</h3>

<p>La taille des petits Calendriers d&rsquo;Hotmail est fixe. Vous ne pouvez pas utiliser d'autres valeurs que celles fix&eacute;es pour ce type de calendrier. Les hauteurs et largeurs standards sont :
<table border="1" width="100%">
<tr bgcolor="#CCCCCC">
  <td>&nbsp;</td>
  <td>Petit</td>
  <td>Grand</td>
</tr>
<tr>
  <td bgcolor="#CCCCCC">Petit</td>
  <td>141&times;428</td>
  <td>192&times;428</td>
</tr>
<tr>
  <td bgcolor="#CCCCCC">Moyen</td>
  <td>141&times;560</td>
  <td>192&times;560</td>
</tr>
<tr>
  <td bgcolor="#CCCCCC">Large</td>
  <td>141&times;692</td>
  <td>192&times;692</td>
</tr>
</table>
</p>
<p>Si vous d&eacute;sirez modifier la largeur/hauteur d'un Calendrier Hotmail, vous devez le faire directement dans le code HTML &agrave; incorporer.</p>