<h3>Comment incorporer le document&nbsp;?</h3>

<h4>Microsoft Office Web Apps</h4>

<p>Vous devez d'abord activer le partage de vos documents avant de pouvoir les incorporer dans Mahara. Pour activer le partage :
<ol>
<li>Ouvrez une session dans votre compte WindowsLive sur <a href="http://www.live.com" target="_blank">Live.com</a></li>
<li>Cliquez sur <em>Office</em> puis sur <em>Vos documents</em> dans le menu du haut</li>
<li>Placez la souris sur le document que vous d&eacute;sirez partager</li>
<li>Cliquez sur le menu <em>Plus</em>, puis sur <em>Partager</em> et en suite sur <em>Modifier les autorisations</em></li>
<li>Choisissez l'option <em>Tout le monde (public)</em></li>
<li>Cliquez sur le bouton <em>Enregistrer</em> - votre document sera alors affich&eacute; dans la section <em>Partag&eacute;s par moi</em></li>
</ol>
</p>

<p><strong>Documents et Tableurs</strong></p>
<ol>
<li>Placez la souris sur le document que vous d&eacute;sirez incorporer</li>
<li>Cliquez sur <em>Partager</em> puis sur <em>Incorporer</em></li>
<li>Copiez le code HTML de la bo&icirc;te de texte</li>
<li>Collez-le dans le bloc WindowsLive de Mahara</li>
</ol>
<p><strong>Pr&eacute;sentations et Bloc-notes</strong></p>
<ol>
<li>Placez la souris sur le document que vous d&eacute;sirez incorporer</li>
<li>Cliquez sur <em>Partager</em> puis sur <em>Incorporer</em></li>
<li>Copiez le code HTML de la bo&icirc;te de texte</li>
<li>Collez-le dans le bloc WindowsLive de Mahara</li>
</ol>

<h4>Calendrier Hotmail</h4>
<ol>
<li>Ouvrez une session dans votre compte WindowsLive sur <a href="http://www.live.com" target="_blank">Live.com</a></li>
<li>Cliquez sur <em>Hotmail</em> puis sur <em>Calendrier</em> dans le menu du haut</li>
<li>Cliquez sur le lien <em>Partager</em> dans le coin sup&eacute;rieur gauche</li>
<li>Cliquez sur le nom du calendrier que vous d&eacute;sirez incorporer</li>
<li>Dans la page <em>Param&egrave;tres de partage</em>, cliquez sur <em>Rendre votre calendrier public</em></li>
<li>Cliquez ensuite sur le lien <em>Placer sur votre site web</em></li>
<li>Personnalisez la pr&eacute;sentation de calendrier puis collez le code HTML de la bo&icirc;te de texte</li>
<li>Collez-le dans le bloc WindowsLive de Mahara</li>
</ol>
<strong>Note&nbsp;:</strong> Vous pouvez incorporer des grands ou petits calendriers. La taille des petits calendriers est fixe et vous ne pouvez pas utiliser d'autres valeurs que celles fix&eacute;es pour ce type de calendrier.

<h4>Cartes Bing</h4>
<ol>
<li>Acc&eacute;dez &agrave; <a href="http://www.bing.com/maps/" target="_blank">Cartes Bings</a></li>
<li>Cherchez la carte de vous d&eacute;sirez incorporer</li>
<li>Cliquez sur le bouton <em>Share your map</em> (ic&ocirc;ne en forme de courrier en bas &agrave; gauche de la fen&ecirc;tre)</li>
<li>Personnalisez la pr&eacute;sentation de la carte puis collez le code HTML de la bo&icirc;te de texte</li>
<li>Collez-le dans le bloc WindowsLive de Mahara</li>
</ol>

