<h3>Qu'est-ce qu'Europass?</h3>
<p>Vous envisagez de commencer une formation? Vous cherchez un emploi? Vous voulez acqu&eacute;rir une exp&eacute;rience &agrave; l'&eacute;tranger? Dans tous les cas, il est important d'assurer la visibilit&eacute; de vos comp&eacute;tences et qualifications.</p>

<h3>Europass est une nouvelle initiative destin&eacute;e &agrave; vous aider &agrave;:</h3>
<ul>
<li>rendre vos comp&eacute;tences et qualifications visibles dans toute l'Europe (Union europ&eacute;enne, AELE/EEE et pays candidats);</li>
<li>favoriser votre mobilit&eacute; en Europe.</li>
</ul>

<h3>Europass se compose de cinq documents:</h3>
<ul>
<li>deux documents (<b>le Curriculum vitae Europass</b> et <b>le Passeport de langues Europass</b>) &agrave; remplir vous-m&ecirc;me; et</li>
<li>trois autres documents (<b>le Suppl&eacute;ment descriptif du certificat Europass</b>, <b>le Suppl&eacute;ment au dipl&ocirc;me Europass</b> et <b>l'Europass Mobilit&eacute;</b>) remplis et d&eacute;livr&eacute;s par les organisations comp&eacute;tentes.</li>
</ul>
<p>Europass s'appuie sur un r&eacute;seau de <a title="Centres Nationaux Europass" href="http://europass.cedefop.europa.eu/europass/home/vernav/Information+and++Support/National+Europass+Centres.csp">Centres Nationaux Europass</a>.</p>
<p>Europass a &eacute;t&eacute; &eacute;tabli par la <b>D&eacute;cision no 2241/2004/CE</b> du Parlement europ&eacute;en et du Conseil du 15 d&eacute;cembre 2004 instaurant un cadre unique pour la transparence des qualifications et des comp&eacute;tences (Europass).</p>

