<h3>Tags</h3>
<p>Vous pouvez ajouter des Tags aux productions ou aux expositions que vous cr&eacute;ez dans Mahara. Les Tags vous permettent d&rsquo;ajouter des mots-cl&eacute;s, des &eacute;tiquettes qui d&eacute;crivent vos productions et vos expositions. Les Tags permettent aussi la cr&eacute;ation d&rsquo;un index afin de retrouver et classer vos informations.</p>
<p>Pour associer plusieurs Tags &agrave; une production ou &agrave; une vue, s&eacute;parez-les &agrave; l&rsquo;aide d&rsquo;une virgule. Par exemple &mdash; &laquo; Validation, Semestre&nbsp;2, Biologie &raquo;.</p>
<p>Cliquer sur <b>Afficher mes tags</b> g&eacute;n&egrave;re une liste de Tags que vous avez d&eacute;j&agrave; cr&eacute;&eacute;s ainsi que le nombre de fois que vous les avez utilis&eacute;s. Cliquez sur un Tag pour l&rsquo;ajouter &agrave; la liste des Tags pour la production ou l&rsquo;exposition courante.</p>
<p>Utiliser <b>Chercher dans mon portfolio</b> pour trouver toutes les productions et les expositions qui sont associ&eacute;s &agrave; un Tag particulier. Vous pouvez de ce fait facilement cr&eacute;er un syst&egrave;me de filtre ou un index pour votre portfolio.</p>
