<h3>Affiche les commandes pour ajouter et supprimer des colonnes lors de la modification d'une exposition</h3>
<p>Vous pouvez choisir d'afficher une ligne avec des boutons <img src="/theme/raw/static/images/btn_addcolumn_left.png" alt="add"> <img src="/theme/raw/static/images/btn_removecolumn.png" alt="remove"> dans Modifier une exposition. Ces boutons ajoutent ou suppriment des colonnes de cette exposition.</p>
<p>M&ecirc;me si non activ&eacute;, vous pouvez changer le nombre de colonnes de votre exposition sur la page de modification de l'affichage de votre exposition.</p>
