<h3>Editeur HTML</h3>
<p>Un &eacute;diteur HTML est accessible pour la saisie simplifi&eacute;e d'informations dans certaines sections de ce site. Cet &eacute;diteur est aussi commun comme &eacute;diteur WYSIWIG pour &laquo; What you see is what you get &raquo; (&laquo; Ce que vous voyez et ce que vous obtiendrez &raquo;). Cette fonction vous permet de formater votre texte comme dans un traitement de texte (ex. : italique, gras, retrait d'alin&eacute;a). Si l'&eacute;diteur est d&eacute;sactiv&eacute;, vous pouvez toujours saisir du texte brut ou agr&eacute;ment&eacute; de commandes HTML.</p>
<p><strong>Note :</strong> L'&eacute;diteur HTML peut s'afficher ou fonctionner de mani&egrave;res diff&eacute;rentes en fonction du navigateur web que vous utilisez.</p>
