﻿<h3>Type de groupe</h3>
<p>Vous pouvez choisir différentes options qui déterminent la façon dont d'autres utilisateurs peuvent joindre votre groupe.</p>

<h6>Adhésion ouverte</h6>
<p>En réglant vos paramètres sur Adhésion ouverte, vous autorisez n'importe quel utilisateur du site à devenir membre de votre groupe simplement en visitant votre page et en cliquant sur le bouton Rejoindre.</p>

<h6>Demande d'adhésion</h6>
<p>Régler vos paramètres sur Demande d'adhésion permet à n'importe quel utilisateur de rejoindre votre groupe. Cependant, en tant que propriétaire, vous pouvez décider d'accepter ou de refuser cette demande. Votre réponse sera automatiquement notifiée au demandeur.</p>

<h6>Invitation seulement</h6>
<p>Signifie que seuls les utilisateurs auxquels vous avez envoyé une invitation peuvent rejoindre votre groupe.</p>

<h6>Adhésion contrôlée</h6>
<p>L'adhésion contrôlée est uniquement disponible pour les administrateurs et le personnel de l'institution, et vous permet d'ajouter ou de supprimer des membres du groupe.</p>
<p>Les utilisateurs ne peuvent se retirer d'un groupe contrôlé</p>

<h4>Groupe de cours</h4>
<p>Les groupes de cours sont des types spéciaux de groupes que seuls les administrateurs ou personnels de l'institution peuvent créer.</p>
<p>Les groupes de cours peuvent contenir des tuteurs, mais aussi de simples utilisateurs. Tous les membres d'un groupe de cours peuvent soumettre pour évaluation leurs expositions à leurs tuteurs. Lorsque les tuteurs donnent un feed-back, ils peuvent également lui attacher un fichier qui ne sera visible que par l'auteur de l'exposition.</p>
<p>Il y a deux types de groupe de cours:</p>

<h6>Cours: Demande d'adhésion</h6>
<p>Les utilisateurs peuvent rejoindre le groupe en en faisant la demande comme indiqué à la section Demande d'adhésion plus haut.</p>

<h6>Cours : Adhésion contrôlée</h6>
<p>Les groupes de cours à adhésion contrôlée autorisent les administrateurs de groupe à ajouter ou supprimer directement des utilisateurs. Les tuteurs peuvent uniquement en ajouter.</p>
<p>Ce paramètre est dédié aux groupes de cours pour lesquels l'adhésion est définie par un système d'enrôlement externe (comme un système d'enrôlement par institution) que vous souhaitez répliquer dans un groupe.</p>
<p>Les utilisateurs ne peuvent pas se retirer du groupe.</p>
