﻿<h3>Tags</h3>
<p>Vous pouvez ajouter des tags aux expositions que vous cr&eacute;ez. Les tags sont des &eacute;tiquettes ou des mots-cl&eacute;s que vous utilisez pour classer et chercher des expositions.</p>
<p>Cliquer sur <strong>Montrer mes tags</strong> va g&eacute;n&eacute;rer une liste de tags que vous avez pr&eacute;c&eacute;demment utilis&eacute;s et le nombre d'&eacute;l&eacute;ments sur lesquels ils ont &eacute;t&eacute; appliqu&eacute;s. Cliquer sur un tag l'ajoute &agrave; l'exposition ou le supprime s'il avait &eacute;t&eacute; auparavant attribu&eacute;.</p>
