﻿<h3>Type de groupe</h3>
<p>Vous pouvez choisir diff&eacute;rentes options qui d&eacute;terminent la fa&ccedil;on dont d'autres utilisateurs peuvent joindre votre groupe.</p>

<h6>Adh&eacute;sion ouverte</h6>
<p>En r&eacute;glant vos param&egrave;tres sur Adh&eacute;sion ouverte, vous autorisez n'importe quel utilisateur du site &agrave; devenir membre de votre groupe simplement en visitant votre page et en cliquant sur le bouton Rejoindre.</p>

<h6>Demande d'adh&eacute;sion</h6>
<p>R&eacute;gler vos param&egrave;tres sur Demande d'adh&eacute;sion permet &agrave; n'importe quel utilisateur de rejoindre votre groupe. Cependant, en tant que propri&eacute;taire, vous pouvez d&eacute;cider d'accepter ou de refuser cette demande. Votre r&eacute;ponse sera automatiquement notifi&eacute;e au demandeur.</p>

<h6>Invitation seulement</h6>
<p>Signifie que seuls les utilisateurs auxquels vous avez envoy&eacute; une invitation peuvent rejoindre votre groupe.</p>

<h6>Adh&eacute;sion contr&ocirc;l&eacute;e</h6>
<p>L'adh&eacute;sion contr&ocirc;l&eacute;e est uniquement disponible pour les administrateurs et le personnel de l'institution, et vous permet d'ajouter ou de supprimer des membres du groupe.</p>
<p>Les utilisateurs ne peuvent se retirer d'un groupe contr&ocirc;l&eacute;</p>

<h4>Groupe de cours</h4>
<p>Les groupes de cours sont des types sp&eacute;ciaux de groupes que seuls les administrateurs ou le personnel de l'institution peuvent cr&eacute;er.</p>
<p>Les groupes de cours peuvent contenir des tuteurs, mais aussi de simples utilisateurs. Tous les membres d'un groupe de cours peuvent soumettre pour &eacute;valuation leurs expositions &agrave; leurs tuteurs. Lorsque les tuteurs donnent un feed-back, ils peuvent &eacute;galement lui joindre un fichier qui ne sera visible que par l'auteur de l'exposition.</p>
<p>Il y a deux types de groupe de cours:</p>

<h6>Cours: Demande d'adh&eacute;sion</h6>
<p>Les utilisateurs peuvent rejoindre le groupe en en faisant la demande comme indiqu&eacute; &agrave; la section Demande d'adh&eacute;sion plus haut.</p>

<h6>Cours : Adh&eacute;sion contr&ocirc;l&eacute;e</h6>
<p>Les groupes de cours &agrave; adh&eacute;sion contr&ocirc;l&eacute;e autorisent les administrateurs de groupe &agrave; ajouter ou supprimer directement des utilisateurs. Les tuteurs peuvent uniquement en ajouter.</p>
<p>Ce param&egrave;tre est d&eacute;di&eacute; aux groupes de cours pour lesquels l'adh&eacute;sion est d&eacute;finie par un syst&egrave;me d'enr&ocirc;lement externe (comme un syst&egrave;me d'enr&ocirc;lement par institution) que vous souhaitez r&eacute;pliquer dans un groupe.</p>
<p>Les utilisateurs ne peuvent pas se retirer du groupe.</p>
