<h3>Inclusion de contenu: sites s&ucirc;rs</h3>
<p>Pour &eacute;viter que du code malveillant venant d'autres sites web, les balises &laquo; objet &raquo; et &laquo; embed &raquo; sont normalement supprim&eacute;es du code HTML avant d'afficher la page. Cette option permet toutefois aux utilisateurs d'ajouter ce type de code venant d'un certain nombre de sites reconnus sans danger, et de coller directement le contenu dans leurs expositions.</p>
