<h3>Nom du site</h3>
<p>En tant que nom de votre installation de Mahara, le nom du site est affich&eacute; &agrave; certains endroits du site, ainsi que dans les messages g&eacute;n&eacute;r&eacute;s automatiquement par le syst&egrave;me.</p>
