<h3>Autoriser les expositions publiques</h3>
<p>Si vous d&eacute;sirez que vos utilisateurs puissent cr&eacute;er des expositions accessibles par tous, cette option doit &ecirc;tre plac&eacute;e sur &laquo; Oui &raquo;. Les expositions publiques ne peuvent toutefois &ecirc;tre modifi&eacute;es que par leurs propri&eacute;taires.</p>
