<h3>Styles d'apprentissage</h3>
<p>Lisez chacune des affirmations suivantes. Parmi les cinq r&eacute;ponses propos&eacute;es dans le menu d&eacute;roulant, choisissez &agrave; chaque fois celle qui vous correspond le mieux.</p>