<h3>Expositions de la collection</h3>
<p>Ici, vous pouvez ajouter des expositions &agrave; votre collection et choisir l'ordre dans lequel elles vont s'afficher dans le bloc de navigation.</p>
<p>Lorsque vous ajoutez une exposition &agrave; votre collection, les permissions d'acc&egrave;s li&eacute;es &agrave; celle-ci sont appliqu&eacute;es &agrave; la collection enti&egrave;re.</p>
