<h3>Modifier exposition</h3>
<p>Modifier la pr&eacute;sentation de vos expositions vous permet de les personnaliser et de choisir la mani&egrave;re dont vous voulez pr&eacute;senter vos ressources et informations. Par exemple, si vous d&eacute;sirez n'afficher qu'un seul message d'un de vos blogs, cliquez sur l'onglet &laquo; Blogs &raquo;, puis glissez le bloc &laquo; Article de Blog &raquo; dans la zone d'affichage de  votre exposition. Cliquez sur &laquo; Enregistrer &raquo; &agrave; chaque fois que vous ajoutez un &eacute;l&eacute;ment &agrave; votre exposition.</p>
<p>Au fur et &agrave; mesure de la cr&eacute;ation de votre exposition, vous pouvez demander d'afficher le r&eacute;sultat en cliquant sur &laquo; Afficher mon exposition &raquo;. Cliquez sur &laquo; Retour &agrave; la cr&eacute;ation de mon exposition &raquo; pour continuer la modification.</p>
