<h3>Modifier acc&egrave;s</h3>
<p>Vous pouvez contr&ocirc;ler qui a le droit d'acc&eacute;der &agrave; vos expositions ainsi que de d&eacute;cider quand ces personnes y ont acc&egrave;s. Par d&eacute;faut, vous &ecirc;tes le seul &agrave; pouvoir acc&eacute;der &agrave; vos expositions. Vous pouvez rendre vos expositions accessibles par tous, par des utilisateurs enregistr&eacute;s, ou &agrave; vos amis, en cliquant sur le bouton &laquo; Ajouter &raquo;.
Vous pouvez aussi permettre l'acc&egrave;s &agrave; un groupe d'utilisateurs ou &agrave; certains utilisateurs isol&eacute;s en utilisant l'outil de recherche.</p>
<p>Un calendrier vous permet de pr&eacute;ciser l'intervalle de temps durant lequel vous souhaitez que vos expositions soient accessibles par chaque type d'utilisateurs en fonction par exemple d'une ann&eacute;e scolaire, d'un projet ou juste pour une journ&eacute;e. Toutes les dates sont optionnelles. Chaque utilisateur peut &ecirc;tre invit&eacute; &agrave; acc&eacute;der par diff&eacute;rentes politiques d'acc&egrave;s d&eacute;finies par vous.</p>
<p><strong>Exemple:</strong> Nigel est dans le groupe &laquo; Club des gens cools &raquo;. Si vous lui donnez l'acc&egrave;s pour aujourd'hui seulement et au groupe l'acc&egrave;s pour demain, Nigel pourra acc&eacute;der &agrave; votre exposition pendant deux jours.</p>
