<h3>Modifier titre et description</h3>
<p>Vous pouvez donner ici un nom et une description &agrave; votre exposition afin que vos visiteurs sachent de quoi il s'agit.</p>
<p>Vous pouvez aussi ajouter des tags ou mots-cl&eacute;s &agrave; vos vues; ceci les rend plus faciles &agrave; retrouver avec les fonctions de recherches de votre portfolio. Si vous donnez le mot-cl&eacute; &laquo; profil &raquo; &agrave; une exposition, elle viendra automatiquement se placer dans votre barre d'outil &agrave; droite de la fen&ecirc;tre du site, en la rendant ainsi accessible depuis n'importe quel endroit du syst&egrave;me.</p>
