<h3>URL secrête</h3>
<p>Si vous ne désirez pas que tout le monde puisse accéder à votre page mais aimeriez y donner l'accès un certain nombre de personnes non enregsitrées sur le site, vous pouvez rendre votre page publique grâce à un lien spécial, très difficile à deviner. Vous pouvez alors envoyer ce lien, par exemple à l'aide d'un message électronique, à tous ceux à qui vous désirez donner accès à votre page.</p>
