<h3>Enregistrement</h3>
<p>Si votre compte de Portfolio n'a pas &eacute;t&eacute; cr&eacute;&eacute; par votre institution, vous aurez besoin de vous enregistrer individuellement. Dans ce cas, compl&eacute;tez et soumettez le formulaire d'enregistrement. Un courriel vous sera adress&eacute;. Il contiendra un lien - suivez-le pour confirmer votre inscription et identifiez-vous sur le site. Si vous ne recevez pas ce courriel dans les 24 heures, veuillez s'il vous pla&icirc;t v&eacute;rifier vos mails ind&eacute;sirables. Si vous rencontrez des difficult&eacute;s &agrave; vous enregistrer, veuillez contacter l'administrateur du site.</p>
<p><strong>Note:</strong> Le lien dans le courriel est valable seulement 24 heures. Apr&egrave;s cette dur&eacute;e limite, vous devrez r&eacute;p&eacute;ter le processus d'enregistrement.</p>
<p>Vous serez ensuite invit&eacute; &agrave; renseigner les champs de profil obligatoires et aurez la possibilit&eacute; de t&eacute;l&eacute;verser une image de profil.Une fois enregistr&eacute;, vous devrez entrer votre nom d'utilisateur et votre mot de passe (et peut &ecirc;tre votre institution) en vue de vous connecter &agrave; votre portfolio.</p>
<p><strong>Note:</strong> Ce site n&eacute;cessite un navigateur r&eacute;cent comme : Internet Explorer 7/8, Firefox 3, Safari 5, Opera 11 ou versions ult&eacute;rieures. Pour utiliser Mahara vous devez activer les cookies dans votre navigateur.</p>
