<h3>Activer l&rsqoévaluation par note</h3>

<p>Vous pouvez activer l&rsquo;évaluation par note, de 1 à 5, pour les productions et les pages.</p>

<p>Notez que cette évaluation ne peut pas être donnée que si elle est accompagnée d&rsquo;un commentaire ou d'un fichier attaché.</p>
