<h3>Mes fichiers</h3>
<p>L&rsquo;espace de stockage Mes fichiers, vous permet de d&eacute;poser des dossiers et des fichiers que vous pouvez utiliser n&rsquo;importe o&ugrave; dans votre portfolio.</p>
<p>Le nombre de fichiers que vous pouvez d&eacute;poser dans votre espace est d&eacute;pendant du quota en octets qui vous a &eacute;t&eacute; attribu&eacute; et qui est affich&eacute; en bas et &agrave; droite de cet &eacute;cran.</p>
<p>Vous pouvez r&eacute;organiser vos fichiers et dossiers par glisser-d&eacute;poser.</p>
<p>Pour des raisons de s&eacute;curit&eacute;, l&rsquo;Administrateur de votre site peut avoir restreint le d&eacute;p&ocirc;t de certains types de fichiers. </p>