<h3>Fichiers du site</h3>
<p>La zone de d&eacute;p&ocirc;t du Site fonctionne de la m&ecirc;me mani&egrave;re que celle nomm&eacute;e &laquo; Mes Fichiers &raquo;. Les fichiers d&eacute;pos&eacute;s ici sont accessibles par tous les utilisateurs authentifi&eacute;s ou, s&rsquo;ils sont plac&eacute;s dans le dossier &laquo;&nbsp;public&nbsp;&raquo; &agrave; disposition de tous au moyen de l&rsquo;URL ad&eacute;quate.</p>