<h3>Annexes</h3>
<p>Si vous désirez ajouter une pièce jointe parmi les fichiers que vous avez stockés dans votre zone de fichiers, vous pouvez parcourir votre dépôt à la recherche du (des) document(s) à ajouter.</p>
<p>Vous pouvez aussi choisir d&rsquo;ajouter de nouveaux documents depuis votre ordinateur. Ils seront alors placés dans votre zone de fichiers et pourront être utilisés comme annexes pour votre message en même temps.</p>
