<h3>D&eacute;poser un fichier</h3>
<p>Vous pouvez ajouter un nombre illimit&eacute; de documents en annexe d&rsquo;un message sur un blog. Les fichiers d&eacute;pos&eacute;s sont automatiquement ajout&eacute;s dans votre d&eacute;p&ocirc;t de fichiers, dans un dossier appel&eacute; &laquo;blogfiles&raquo;; votre quota est alors diminu&eacute; de la taille des fichiers d&eacute;pos&eacute;s.</p>
<p>Si vous d&eacute;posez un fichier et que vous annuliez la saisie du message de blog sans le sauver, ces fichiers seront alors aussi supprim&eacute;s de votre d&eacute;p&ocirc;t.</p>
<p>Si vous d&eacute;sirez ins&eacute;rer une image dans votre message de blog, vous pouvez utiliser le bouton Image dans la barre de mise en page. Vous pourrez alors modifier sa taille, son alignement, ses bordures et l&rsquo;espace autour de celle-ci &agrave; l&rsquo;aide de formulaire d&rsquo;insertion.</p>
<p>Vous pouvez aussi ajouter un image d&rsquo;un autre autre site web en indiquant son URL ou en effectuant un &laquo;glissez-d&eacute;pos&eacute;&raquo; depuis le site web dans l&rsquo;&eacute;diteur HTML. Veuillez vous assurer que vous poss&eacute;dez bien les droits pour utiliser et diffuser cette image.</p>
<p>Pour de meilleurs r&eacute;sultats, la taille des images de ne devrait pas d&eacute;passer 400x400 pixels et on devrait laisser un espace d&rsquo;au moins 5 pixels autour de chaque c&ocirc;t&eacute; de l&rsquo;image.</p>