<h3>Styles d'apprentissage</h3>
<p>Les deux formulaires ci-dessous vous permettent de d&eacute;terminer vos types d'intelligence dominants, ainsi que vos styles d'apprentissage pr&eacute;f&eacute;r&eacute;s.</p>