<h3>Lecture</h3>
<b>Comprendre</b>
<blockquote>
Lire
</blockquote>
<ul>
<li><a href="#" onclick="setLevel('reading','a1')">A1</a>:	Je peux comprendre des noms familiers, des mots ainsi que des phrases tr&egrave;s simples, par exemple dans des annonces, des affiches ou des catalogues.</li>
<li><a href="#" onclick="setLevel('reading','a2')">A2</a>:	Je peux lire des textes courts tr&egrave;s simples. Je peux trouver une information particuli&egrave;re pr&eacute;visible dans des documents courants comme les petites publicit&eacute;s, les prospectus, les menus et les horaires et je peux comprendre des lettres personnelles courtes et simples.</li>
<li><a href="#" onclick="setLevel('reading','b1')">B1</a>:	Je peux comprendre des textes r&eacute;dig&eacute;s essentiellement dans une langue courante ou relative &agrave; mon travail. Je peux comprendre la description d'&eacute;v&eacute;nements, l'expression de sentiments et de souhaits dans des lettres personnelles.</li>
<li><a href="#" onclick="setLevel('reading','b2')">B2</a>:	Je peux lire des articles et des rapports sur des questions contemporaines dans lesquels les auteurs adoptent une attitude particuli&egrave;re ou un certain point de vue. Je peux comprendre un texte litt&eacute;raire contemporain en prose.</li>
<li><a href="#" onclick="setLevel('reading','c1')">C1</a>:	Je peux comprendre des textes factuels ou litt&eacute;raires longs et complexes et en appr&eacute;cier les diff&eacute;rences de style. Je peux comprendre des articles sp&eacute;cialis&eacute;s et de longues instructions techniques m&ecirc;me lorsqu'ils ne sont pas en relation avec mon domaine.</li>
<li><a href="#" onclick="setLevel('reading','c2')">C2</a>: Je peux lire sans effort tout type de texte, m&ecirc;me abstrait ou complexe quant au fond ou &agrave; la forme, par exemple un manuel, un article sp&eacute;cialis&eacute; ou une &oelig;uvre litt&eacute;raire.</li>
</ul>