<h3>Ecoute</h3>
<b>Comprendre</b> <blockquote>Ecouter </blockquote>
<ul>
<li><a href="#" onclick="setLevel('listening','a1')">A1</a>: Je peux comprendre des mots familiers et des expressions tr&egrave;s courantes au sujet de moi-m&ecirc;me, de ma famille et de l'environnement concret et imm&eacute;diat, si les gens parlent lentement et distinctement.
</li>
<li><a href="#" onclick="setLevel('listening','a2')">A2</a>: Je peux comprendre des expressions et un vocabulaire tr&egrave;s fr&eacute;quent relatifs &agrave; ce qui me concerne de tr&egrave;s pr&egrave;s (par ex. moi-m&ecirc;me, ma famille, les achats, l&rsquo;environnement proche, le travail). Je peux saisir l'essentiel d'annonces et de messages simples et clairs.
</li>
<li><a href="#" onclick="setLevel('listening','b1')">B1</a>: Je peux comprendre les points essentiels quand un langage clair et standard est utilis&eacute; et s&rsquo;il s&rsquo;agit de sujets familiers concernant le travail, l&rsquo;&eacute;cole, les loisirs, etc. Je peux comprendre l'essentiel de nombreuses &eacute;missions de radio ou de t&eacute;l&eacute;vision sur l'actualit&eacute; ou sur des sujets qui m&rsquo;int&eacute;ressent &agrave; titre personnel ou professionnel si l&rsquo;on parle d'une fa&ccedil;on relativement lente et distincte.
</li>
<li><a href="#" onclick="setLevel('listening','b2')">B2</a>: Je peux comprendre des conf&eacute;rences et des discours assez longs et m&ecirc;me suivre une argumentation complexe si le sujet m'en est relativement familier. Je peux comprendre la plupart des &eacute;missions de t&eacute;l&eacute;vision sur l'actualit&eacute; et les informations. Je peux comprendre la plupart des films en langue standard.
</li>
<li><a href="#" onclick="setLevel('listening','c1')">C1</a>: Je peux comprendre un long discours m&ecirc;me s'il n'est pas clairement structur&eacute; et que les articulations sont seulement implicites. Je peux comprendre les &eacute;missions de t&eacute;l&eacute;vision et les films sans trop d'effort.
</li>
<li><a href="#" onclick="setLevel('listening','c2')">C2</a>: Je n'ai aucune difficult&eacute; &agrave; comprendre le langage oral, que ce soit dans les conditions du direct ou dans les m&eacute;dias et quand on parle vite, &agrave; condition d'avoir du temps pour me familiariser avec un accent particulier.
</li>
</ul>