<h3>Description</h3>
<p>D&eacute;crivez dans cette rubrique la ou les exp&eacute;rience(s) linguistique(s) et culturelle(s) la ou les plus significative(s). L'exp&eacute;rience doit illustrer la mani&egrave;re dont vous avez atteint le niveau indiqu&eacute;: contacts familiaux (relations avec des parents hispanophones par exemple), professionnels (relations avec des clients hispanophones, stage dans une entreprise hispanophone), apprentissage au cours des &eacute;tudes, etc., par ex.:
<blockquote>
s&eacute;jour d'un mois dans une famille espagnole (Bilbao) dans le cadre d'un &eacute;change scolaire;
</blockquote>
<blockquote>
s&eacute;jours r&eacute;guliers en Espagne (vacances).
</blockquote></p>
<p><b>Note:</b> <br/>Privil&eacute;giez les exp&eacute;riences les plus r&eacute;centes et les plus significatives.</p>