<h3>Interaction orale</h3>
<b>Parler</b>
<blockquote>
Prendre part &agrave; une conversation
</blockquote>
<ul>
<li><a href="#" onclick="setLevel('spokenInteraction','a1')">A1</a>:	Je peux communiquer, de fa&ccedil;on simple, &agrave; condition que l'interlocuteur soit dispos&eacute; &agrave; r&eacute;p&eacute;ter ou &agrave; reformuler ses phrases plus lentement et &agrave; m'aider &agrave; formuler ce que j'essaie de dire. Je peux poser des questions simples sur des sujets familiers ou sur ce dont j&rsquo;ai imm&eacute;diatement besoin, ainsi que r&eacute;pondre &agrave; de telles questions.
</li>
<li><a href="#" onclick="setLevel('spokenInteraction','a2')">A2</a>:	Je peux communiquer lors de t&acirc;ches simples et habituelles ne demandant qu'un &eacute;change d'informations simple et direct sur des sujets et des activit&eacute;s familiers. Je peux avoir des &eacute;changes tr&egrave;s brefs m&ecirc;me si, en r&egrave;gle g&eacute;n&eacute;rale, je ne comprends pas assez pour poursuivre une conversation.
</li>
<li><a href="#" onclick="setLevel('spokenInteraction','b1')">B1</a>:	Je peux faire face &agrave; la majorit&eacute; des situations que l'on peut rencontrer au cours d'un voyage dans une r&eacute;gion o&ugrave; la langue est parl&eacute;e. Je peux prendre part sans pr&eacute;paration &agrave; une conversation sur des sujets familiers ou d'int&eacute;r&ecirc;t personnel ou qui concernent la vie quotidienne (par exemple famille, loisirs, travail, voyage et actualit&eacute;).
</li>
<li><a href="#" onclick="setLevel('spokenInteraction','b2')">B2</a>:	Je peux communiquer avec un degr&eacute; de spontan&eacute;it&eacute; et d'aisance qui rend possible une interaction normale avec un locuteur natif. Je peux participer activement &agrave; une conversation dans des situations famili&egrave;res, pr&eacute;senter et d&eacute;fendre mes opinions.
</li>
<li><a href="#" onclick="setLevel('spokenInteraction','c1')">C1</a>:	Je peux m'exprimer spontan&eacute;ment et couramment sans trop apparemment devoir chercher mes mots. Je peux utiliser la langue de mani&egrave;re souple et efficace pour des relations sociales ou professionnelles. Je peux exprimer mes id&eacute;es et opinions avec pr&eacute;cision et lier mes interventions &agrave; celles de mes interlocuteurs.
</li>
<li><a href="#" onclick="setLevel('spokenInteraction','c2')">C2</a>: 	Je peux participer sans effort &agrave; toute conversation ou discussion et je suis aussi tr&egrave;s &agrave; l&rsquo;aise avec les expressions idiomatiques et les tournures courantes. Je peux m&rsquo;exprimer couramment et exprimer avec pr&eacute;cision de fines nuances de sens. En cas de difficult&eacute;, je peux faire marche arri&egrave;re pour y rem&eacute;dier avec assez d'habilet&eacute; et pour qu'elle passe presque inaper&ccedil;ue.
</li>
</ul>