<h3>Organisme certificateur</h3>
<p>Sp&eacute;cifiez l'organisme certificateur, c'est-&agrave;-dire l'organisme qui a d&eacute;livr&eacute; le(s) certificat(s) ou dipl&ocirc;me(s), par ex.:
<blockquote>
Institut Cervant&egrave;s, Bordeaux (France)
</blockquote></p>
<p><br/></p>