<h3>Production orale</h3>
<b>Parler</b>
<blockquote>
S&rsquo;exprimer oralement en continu
</blockquote>
<ul>
<li><a href="#" onclick="setLevel('spokenProduction','a1')">A1</a>:	Je peux utiliser des expressions et des phrases simples pour d&eacute;crire mon lieu d'habitation et les gens que je connais.</li>
<li><a href="#" onclick="setLevel('spokenProduction','a2')">A2</a>:	Je peux utiliser une s&eacute;rie de phrases ou d'expressions pour d&eacute;crire en termes simples ma famille et d'autres gens, mes conditions de vie, ma formation et mon activit&eacute; professionnelle actuelle ou r&eacute;cente.</li>
<li><a href="#" onclick="setLevel('spokenProduction','b1')">B1</a>:	Je peux articuler des expressions de mani&egrave;re simple afin de raconter des exp&eacute;riences et des &eacute;v&eacute;nements, mes r&ecirc;ves, mes espoirs ou mes buts. Je peux bri&egrave;vement donner les raisons et explications de mes opinions ou projets. Je peux raconter une histoire ou l'intrigue d'un livre ou d'un film et exprimer mes r&eacute;actions.</li>
<li><a href="#" onclick="setLevel('spokenProduction','b2')">B2</a>:	Je peux m'exprimer de fa&ccedil;on claire et d&eacute;taill&eacute;e sur une grande gamme de sujets relatifs &agrave; mes centres d'int&eacute;r&ecirc;t. Je peux d&eacute;velopper un point de vue sur un sujet d&rsquo;actualit&eacute; et expliquer les avantages et les inconv&eacute;nients de diff&eacute;rentes possibilit&eacute;s.</li>
<li><a href="#" onclick="setLevel('spokenProduction','c1')">C1</a>:	Je peux pr&eacute;senter des descriptions claires et d&eacute;taill&eacute;es de sujets complexes, en int&eacute;grant des th&egrave;mes qui leur sont li&eacute;s, en d&eacute;veloppant certains points et en terminant mon intervention de fa&ccedil;on appropri&eacute;e.</li>
<li><a href="#" onclick="setLevel('spokenProduction','c2')">C2</a>: Je peux pr&eacute;senter une description ou une argumentation claire et fluide dans un style adapt&eacute; au contexte,  construire une pr&eacute;sentation de fa&ccedil;on logique et aider mon auditeur &agrave; remarquer et &agrave; se rappeler les points importants.</li>
</ul>