<h3>Niveau europ&eacute;en</h3>
<p>Sp&eacute;cifiez le niveau europ&eacute;en si ce dernier est mentionn&eacute; sur le dipl&ocirc;me(s) ou le(s) certificat(s), par ex.:
<blockquote>
(B2)
</blockquote></p>
<p><b>Notes:</b>
<ul>
<li>
	Tous les examens n&rsquo;ont pas (encore) &eacute;t&eacute; calibr&eacute;s par rapport aux niveaux europ&eacute;ens. Sp&eacute;cifiez le niveau uniquement si ce dernier est mentionn&eacute; sur le dipl&ocirc;me ou les certificats.
</li>
</ul></p>