<h3>Aptitudes et comp&eacute;tences artistiques</h3>
Mentionnez ici vos aptitudes et comp&eacute;tences &agrave; caract&egrave;re artistique repr&eacute;sentant un atout (musique, &eacute;criture; dessin, etc.), par ex. :  <blockquote>Pratique du piano</blockquote> Pr&eacute;cisez dans quel contexte elles ont &eacute;t&eacute; acquises (formation, s&eacute;minaire, contexte professionnel, vie associative, loisirs, etc.).