<h3>Courrier &eacute;lectronique</h3>
Inscrivez votre/vos adresse(s) &eacute;lectronique(s), en pr&eacute;cisant le cas &eacute;ch&eacute;ant s&rsquo;il s&rsquo;agit de votre adresse personnelle ou professionnelle, par ex.:  <blockquote> pdurant@waho.com </blockquote>