<h3>Portable</h3>
Inscrivez, le cas &eacute;ch&eacute;ant, votre/vos num&eacute;ro(s) de t&eacute;l&eacute;phone portable en appliquant les m&ecirc;mes r&egrave;gles que pour le(s) num&eacute;ro(s) de t&eacute;l&eacute;phone fixe, par ex.:  <blockquote>(33) 69 10 34 58 96</blockquote>