<h3>Type d'activit&eacute;</h3>
<p>S&eacute;lectionnez dans le menu le type d'activit&eacute; que vous d&eacute;sirez afficher.</p>
<p><strong>Nouveaux messages de forums :</strong>affiche tous les nouveaux messages des forums auxquels vous avez souscrit un abonnement</p>
<p><strong>Commentaires :</strong> affiche les commentaires qui ont &eacute;t&eacute; plac&eacute;s dans toutes vos productions, expositions ou blogs dans votre portfolio. </p>
<p><strong>Messages de groupe :</strong> affiche tous les messages envoy&eacute;s aux gestionnaires de groupe quand une exposition est envoy&eacute;e &agrave; l'&eacute;valuation &agrave; ce groupe.</p>
<p><strong>Messages syst&egrave;me :</strong> affiche les messages g&eacute;n&eacute;r&eacute;s automatiquement par le syst&egrave;me ainsi que ceux qui vous sont envoy&eacute;s par les autres administrateurs.</p>
<p><strong>Messages des autres utilisateurs :</strong> affiche les messages envoy&eacute;s par les autres utilisateurs du site, directement &agrave; votre attention.</p>
<p><strong>Nouvel acc&egrave;s &agrave; une exposition :</strong> affiche les alertes qui vous sont envoy&eacute;es quand vous ou un groupe auquel vous appartenez, se voit donner l'acc&egrave;s &agrave; une exposition non publique, nouvelle ou existante.</p>
<p><strong>Liste de suivi :</strong> affiche toutes les activit&eacute;s effectu&eacute;es sur les productions, expositions, groupes ou blog pour lesquels vous avez activ&eacute; le suivi.</p>
