<h3>Connexion</h3>
<p>Vos informations n&eacute;cessaires &agrave; la connexion comprennent soit le nom et le mot de passe que vous avez donn&eacute;s lors de votre enregistrement, soit ceux qui vous ont &eacute;t&eacute; indiqu&eacute;s par l'administrateur du site.</p>
<p>Cliquez sur <a href="forgotpass.php">Mot de passe oubli&eacute;</a> pour redemander un nouveau mot de passe en tout temps.</p>
<p>Pour des raisons de s&eacute;curit&eacute;, vous serez automatiquement d&eacute;connect&eacute; apr&egrave;s une p&eacute;riode prolong&eacute;e d'inactivit&eacute; sur le site. Vous devrez alors vous authentifier &agrave; nouveau.</p>
<p><strong>Note :</strong> L'utilisation de ce site, requi&egrave;re un logiciel de navigation web r&eacute;cent tel que : Internet Explorer version 6.0, Firefox 1.5, Safari 2, ou Opera 9; ou plus r&eacute;cent. Pour utiliser Mahara, votre navigateur doit accepter les cookies.</p>
