<h4>Faire un commentaire</h4>
<p>Les commentaires publics peuvent &ecirc;tre lus par les autres utilisateurs qui ont acc&egrave;s &agrave; l'exposition, alors que les commentaires priv&eacute;s ne seront lisibles que par l'auteur de l'exposition. L'auteur d'une exposition peut rendre priv&eacute; un commentaire public.</p>
<h4>Annoncer du mat&eacute;riel discutable</h4>
<p>Vous pouvez alerter les Administrateurs du site lorsque vous rencontrez du contenu discutable sur le site.</p>
<h4>Imprimer</h4>
<p>L'option d'impression vous permet d'afficher les informations dans un format apte &agrave; &ecirc;tre imprim&eacute;.</p>
<h4>Ajouter l'exposition &agrave; la liste de suivi</h4>
<p>Si une exposition fait l'objet d'un suivi, vous serez inform&eacute; de toutes les modifications r&eacute;alis&eacute;es par son auteur.</p>