<h3>Fichiers du groupe</h3>
<p>La zone &laquo;Fichiers du groupe&raquo; est un d&eacute;p&ocirc;t pour partager des dossiers et des fichiers dans les diff&eacute;rentes expositions du groupe.</p>
<p>Vous pouvez r&eacute;organiser vos fichiers et dossiers par glisser-d&eacute;poser.</p>
<p>Pour des raisons de s&eacute;curit&eacute;, l&rsquo;Administrateur de votre site peut avoir restreint le d&eacute;p&ocirc;t de certains types de fichiers. </p>
