<h3>Mes fichiers</h3>
<p>L&rsquo;espace de stockage Mes fichiers, vous permet de déposer des dossiers et des fichiers que vous pouvez utiliser n&rsquo;importe où dans votre portfolio.</p>
<p>Le nombre de fichiers que vous pouvez déposer dans votre espace est dépendant du quota en octets qui vous a été attribué et qui est affiché en bas et à droite de cet écran.</p>
<p>Vous pouvez réorganiser vos fichiers et dossiers par glisser-déposer.</p>
<p>Pour des raisons de sécurité, l&rsquo;Administrateur de votre site peut avoir restreint le dépôt de certains types de fichiers. </p>
