<h3>Icônes du profil</h3>
<p>
    La zone Icônes du profil vous permet de déposer des images que vous pouvez  afficher en dessous de votre nom dans différents endroits du site.
</p>
<p>
    Vous pouvez avoir jusqu&rsquo;à 5 icônes dans votre zone de profil. Les images que vous déposez doivent avoir au minium une taille de 16x16 pixels et 1024x1024 au maximum. Les images que vous déposez dans votre profil sont prises en compte et diminuent votre quota de dépôt de fichiers.
</p>
<p>
    Vous icône par défaut est visible, en dessous de votre nom, par tous les autres visiteurs du site. Vous pouvez utiliser les autres images dans les expositions que vous créez.
</p>
<p>
    <strong>Note :</strong> Toutes les icônes de profil (pas que celle par défaut) peuvent être vues par les utilisateurs connectés. Supprimez celles que vous ne voulez pas que les autres voient.
</p>
