<h3>Ecrit</h3>
<b>Ecrire</b>
<ul>
<li><a href="#" onclick="setLevel('writing','a1')">A1</a>:	Je peux &eacute;crire une courte carte postale simple, par exemple de vacances. Je peux porter des d&eacute;tails personnels dans un questionnaire, inscrire par exemple mon nom, ma nationalit&eacute; et mon adresse sur une fiche d'h&ocirc;tel.</li>
<li><a href="#" onclick="setLevel('writing','a2')">A2</a>:	Je peux &eacute;crire des notes et messages simples et courts. Je peux &eacute;crire une lettre personnelle tr&egrave;s simple, par exemple de remerciements.</li>
<li><a href="#" onclick="setLevel('writing','b1')">B1</a>:	Je peux &eacute;crire un texte simple et coh&eacute;rent sur des sujets familiers ou qui m&rsquo;int&eacute;ressent personnellement. Je peux &eacute;crire des lettres personnelles pour d&eacute;crire exp&eacute;riences et impressions.</li>
<li><a href="#" onclick="setLevel('writing','b2')">B2</a>:	Je peux &eacute;crire des textes clairs et d&eacute;taill&eacute;s sur une grande gamme de sujets relatifs &agrave; mes int&eacute;r&ecirc;ts. Je peux &eacute;crire un essai ou un rapport en transmettant une information ou en exposant des raisons pour ou contre une opinion donn&eacute;e. Je peux &eacute;crire des lettres qui mettent en valeur le sens que j&rsquo;attribue personnellement aux &eacute;v&eacute;nements et aux exp&eacute;riences.</li>
<li><a href="#" onclick="setLevel('writing','c1')">C1</a>:	Je peux m'exprimer dans un texte clair et bien structur&eacute; et d&eacute;velopper mon point de vue. Je peux &eacute;crire sur des sujets complexes dans une lettre, un essai ou un rapport, en soulignant les points que je juge importants. Je peux  adopter un style adapt&eacute; au destinataire.</li>
<li><a href="#" onclick="setLevel('writing','c2')">C2</a>:	Je peux &eacute;crire un texte clair, fluide et stylistiquement adapt&eacute; aux circonstances. Je peux r&eacute;diger des lettres, rapports ou articles complexes, avec une construction claire permettant au lecteur d&rsquo;en saisir et de m&eacute;moriser les points importants. Je peux r&eacute;sumer et critiquer par &eacute;crit un ouvrage professionnel ou une &oelig;uvre litt&eacute;raire.</li>
</ul>