<h3>Intitul&eacute;</h3>
<p>Mentionnez les dipl&ocirc;me(s) ou certificat(s) obtenu(s) pour la langue concern&eacute;e, par ex.:
<blockquote>
Diploma de Espa&ntilde;ol - Nivel Intermedio (DELE)
(Dipl&ocirc;me d'espagnol langue &eacute;trang&egrave;re- Niveau interm&eacute;diaire)
</blockquote></p>
<p><br/></p>