<h3>Emploi recherch&eacute; /<br>Domaine de comp&eacute;tence</h3>
<p>Pr&eacute;cisez l&#39;emploi recherch&eacute; ou votre domaine de comp&eacute;tence, par exemple:  <blockquote> Administrateur de bases de donn&eacute;es </blockquote> <p><strong>Note:</strong> Cette rubrique donne un aper&ccedil;u imm&eacute;diat de votre profil et doit &ecirc;tre remplie avec la plus grande attention</p></p>
