<h3>Photographie</h3>
<b>Notes:</b>
<ul>
<li>
	La photographie n&rsquo;est pas indispensable sur un CV, sauf indication contraire de l&rsquo;employeur;
</li>
<li>
	Utilisez de pr&eacute;f&eacute;rence le format jpg (113x151 pixels).
</li>
</ul>