<h3>T&eacute;l&eacute;copie(s)</h3>
Inscrivez, le cas &eacute;ch&eacute;ant, votre/vos num&eacute;ro(s) de t&eacute;l&eacute;copie en appliquant les m&ecirc;mes r&egrave;gles que pour le(s) num&eacute;ro(s) de t&eacute;l&eacute;phone, par ex.:  <blockquote> 01 23 45 67 89 </blockquote>