<h3>Mes blogs</h3>
<p>Un blog est un journal électronique qui vous permet d&rsquo;enregistrer vos pensées et vos expériences. C&rsquo;est un outil réflexif très intéressant pour améliorer vos apprentissages.</p>
<p>Par défaut, vos blogs ne sont visibles que par vous seul. En ajoutant un blog à une exposition qui est partagée avec d&rsquo;autres utilisateurs, vous pouvez permettre à des tiers de lire vos messages et de placer des commentaires.</p>
<p>Vous pouvez avez un nombre illimité de blogs.</p>