<h3>Mes objectifs</h3>
<p>La saisie des objectifs est divis&eacute;e en trois sections : Objectifs personnels, acad&eacute;miques et professionnels. Les objectifs saisis ici peuvent &ecirc;tre affich&eacute;s dans vos expositions.</p>
<p>Les objectifs professionnels et personnels sont g&eacute;n&eacute;ralement demand&eacute;s par les employeurs afin qu'ils puissent comprendre au mieux comment le poste qu'ils peuvent vous proposer correspond &agrave; vos ambitions.</p>
<p>Vous pouvez utiliser la section des objectifs acad&eacute;miques pour d&eacute;crire vos recherches et r&eacute;alisations actuelles ainsi que votre programme de formation.</p>
