<h3>Mes comp&eacute;tences</h3>
<p>La saisie des comp&eacute;tences est divis&eacute;e en trois sections : comp&eacute;tences personnelles, acad&eacute;miques et professionnelles. Les comp&eacute;tences saisies ici peuvent &ecirc;tre reprises dans vos expositions.</p>
<p>Les employeurs souhaitent conna&icirc;tre les comp&eacute;tences que vous pouvez apporter au poste qu&rsquo;ils vous proposent. Vous pouvez aussi utiliser cette section pour d&eacute;crire la mani&egrave;re dont vous prenez part et collaborez &agrave; des groupes de travail ou &agrave; des communaut&eacute;s.</p>
