<h3>Administrateurs</h3>
<p>L'acc&egrave;s administrateur permet &agrave; un utilisateur d'acc&eacute;der et de modifier tout ou partie du site. Les administrateurs ne voient pas directement les expositions des utilisateurs, mais ils peuvent se connecter en prenant leur identit&eacute; pour ce faire si n&eacute;cessaire. Administrateur du site est le r&ocirc;le le plus &eacute;lev&eacute; dans Mahara - soyez donc prudent &agrave; qui vous l'octroyez !</p>
<p>Pour donner les droits d'administration &agrave; un utilisateur, s&eacute;lectionnez-le dans la liste &laquo; Administrateurs potentiels &raquo;, puis cliquez la fl&egrave;che droite pour le d&eacute;placer dans la liste &laquo; Administrateurs actuels &raquo;. Pour r&eacute;voquer l'acc&egrave;s les droits d'administration &agrave; un utilisateur, s&eacute;lectionnez-le dans la liste &laquo; Administrateurs actuels &raquo;, puis cliquez sur la fl&egrave;che gauche pour le d&eacute;placer dans la liste &laquo; Administrateurs potentiels &raquo;.</p>

<p>Lorsqu'il y existe plus de 250 comptes utilisateurs cr&eacute;&eacute;s sur le site, vous devrez chercher un utilisateur sp&eacute;cifique gr&acirc;ce au champ de recherche. Vous pouvez &eacute;galement s&eacute;lectionner plusieurs utilisateurs en une seule fois en appuyant simultan&eacute;ment sur Ctrl+Maj+Clic.</p>
<p>Un site Mahara doit poss&eacute;der au moins un administrateur.</p>
