<h3>Personnel du site</h3>
<p>L'acc&egrave;s de type &laquo; Personnel &raquo; permet &agrave; utilisateur au sein d'une institution, de cr&eacute;er des groupes contr&ocirc;l&eacute;s, de recevoir et lib&eacute;rer des expositions soumises &agrave; &eacute;valuation et acc&eacute;der aux informations cl&eacute;s du profil d'un utilisateur (Nom complet, ID &eacute;tudiant, nom affich&eacute;)</p>
<p>Pour attribuer le r&ocirc;le de &laquo; Personnel &raquo; &agrave; des utilisateurs, s&eacute;lectionnez-les &agrave; partir de la liste &laquo; Personnel potentiel &raquo; et cliquez sur la fl&egrave;che &agrave; droite pour les d&eacute;placer dans la liste &laquo; Personnel actuel &raquo;, et cliquez sur la fl&egrave;che &agrave; gauche pour les remettre dans la liste &laquo; Personnel potentiel &raquo;.</p>
<p>Lorsqu'il y existe plus de 250 comptes utilisateurs cr&eacute;&eacute;s sur le site, vous devrez chercher un utilisateur sp&eacute;cifique gr&acirc;ce au champ de recherche. Vous pouvez &eacute;galement s&eacute;lectionner plusieurs utilisateurs en une seule fois en appuyant simultan&eacute;ment sur Ctrl+Maj+Clic.</p>
