<h3>Notifications</h3>
<p>Indiquez comment vous voulez recevoir les messages pour chaque type de notification.</p>
<h4>Types de notification</h4>
<p><strong>Log d'activit&eacute;:</strong> your notifications area will display a list of activity notifications received.</p>
<p><strong>Courriel:</strong> vos recevez les messages &agrave; votre adresse de courriel principale pour chaque notification au moment o&ugrave; l'&eacute;v&eacute;nement se produit.</p>
<p><strong>Envoi quotidien:</strong> vous recevez, chaque jour, un seul message &agrave; votre adresse de courriel principale, contenant la liste de tous les &eacute;v&eacute;nements qui se sont produits depuis 24 heures.</p>
<p><strong>Note:</strong> Si vous choisissez d'envoyer les messages par courriel, ils seront aussi affich&eacute;s dans votre Bo&icirc;te de r&eacute;ception interne en temps r&eacute;el au moment o&ugrave; les &eacute;v&eacute;nements se produisent. Ces messages seront marqu&eacute;s comme lus. Ces messages seront automatiquement supprim&eacute;s de votre Bo&icirc;te de r&eacute;ception interne au bout de 60 jours.</p>

<h4>Types d'activit&eacute;s</h4>
<p><strong>Messages du syst&egrave;me :</strong> messages g&eacute;n&eacute;r&eacute;s automatiquement par le syst&egrave;me ou envoy&eacute;s par un des administrateurs du site.</p>
<p><strong>Messages des autres utilisateurs :</strong> messages envoy&eacute;s par d'autres utilisateurs du site.</p>
<p><strong>Commentaires :</strong> commentaires ou &eacute;valuations sur une exposition, une production, un message d'un blog de votre ePortfolio.</p>
<p><strong>Veille :</strong> notification de toutes les activit&eacute;s qui se sont produites sur des productions, expositions, ou blog dont vous assurez la veille.</p>
<p><strong>Acc&egrave;s aux expositions :</strong> notification que vous, ou un membre d'un de vos groupes a donn&eacute; l'acc&egrave;s &agrave; une nouvelle ou &agrave; une publication existante qui n'&eacute;tait pas publique.</p>
