<h3>Mon compte d'utilisateur</h3>
<p>Vous pouvez changer ici votre nom d'utilisateur, votre mot de passe, et indiquer comment vous d&eacute;sirez utiliser le site.</p>
<p>Les comptes d'utilisateurs expirent automatiquement apr&egrave;s un temps d&eacute;fini par l'administrateur du site. Vous serez pr&eacute;venu en avance de l'expiration de votre compte et pri&eacute; de sauvegarder toutes les donn&eacute;es de votre portfolio.</p>
<p><strong>Note:</strong> Il est important de sauvegarder toutes les modifications que vous effectuez au moyen du bouton en bas de la page.</p>
