<h3>Administration extensions</h3>
<p>Ces rubriques du profil sont signal&eacute;es comme obligatoires et doivent &ecirc;tre contenues dans un fichier de cr&eacute;ation d&rsquo;utilisation au format CSV ou renseign&eacute;es par l&rsquo;utilisateur au moment o&ugrave; il termine son inscription au site. </p>
<p>Les rubriques marqu&eacute;es comme Public seront visibles &agrave; tous les utilisateurs authentifi&eacute;s et leur permettront de faire des recherches de personnes sur le site.</p>
