<h3>Quota</h3>
<p>Un quota vous a été attribué quant à l&rsquo;espace de stockage. Si vous arrivez à la limite du quota fixé, veuillez prendre contact avec votre administrateur ou votre enseignant pour faire augmenter cette limite.</p>
