<h3>Tags</h3>
<p>Vous pouvez ajouter des Tags aux Productions et aux Expositions dans Mahara. Les Tags vous permettent d&rsquo;ajouter des mots-clés à vos Productions et Expositions et de créer un index de classifications des Tags.</p>
<p>Pour associer plusieurs Tages à une Production ou à une Exposition, séparez chaque Tag par une virgule. Par exemple: &rsquo;Evaluations, Semestre 2, Gestion&rsquo;.</p>
<p>En cliquant sur <b>Afficher mes tags</b> vous générez une liste de Tags que vous aviez précédemment utilisés dans le cadre de votre portfolio accompagné du nombre de fois que vous les avez déjà utilisés.

Cliquer sur un Tag ajoute celui-ci à la liste des Tags pour la Production ou la Vue que vous êtes en train d&rsquo;éditer.</p>
<p>En utilisant <b>Chercher dans Mon Portfolio</b> vous pouvez retrouver toutes les Productions et les Vues auxquelles vous avez associé un Tag particulier, et vous pouvez de ce fait créer un index de votre portfolio.</p>
