<h3>Tailles des icônes</h3>
<p>La taille des icônes spécifie la hauteur et largeur maximales en pixels pour les icônes du profil de l'utlisateur. Chaque image déposée dans la zone Icônes du profil, sera retaillée à ces dimensions. </p>
