<h3>URL de l&rsquo;h&ocirc;te</h3>
<p>Indiquez l&rsquo;adresse URL (par ex. : ldap://ldap.masociete.com). Vous pouvez indiquer plusieurs serveurs secondaires, en cas de panne sur serveur principal, en les s&eacute;parant par des &laquo;;&raquo;</p>
